/**
窗口变小
 */
@keyframes minWidth
{
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 250px);
  }
}

@-webkit-keyframes minWidth
{
  from {
    width: 100%;
  }
  to {
    width: calc(100% - 250px);
  }
}

/**
窗口变大
 */
@keyframes maxWidth
{
  from {
    width: calc(100% - 250px);
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes maxWidth
{
  from {
    width: calc(100% - 250px);
  }
  to {
    width: 100%;
  }
}

/*
背景闪亮
 */
@keyframes newInfo
{
  from {
    background: #66b1ff;
    color: #fff;
  }
  to {
    background: yellow;
    color: #666;
  }
}

@-webkit-keyframes newInfo
{
  from {
    background: #66b1ff;
    color: #fff;
  }
  to {
    background: yellow;
    color: #666;
  }
}

/*
向右
 */
@keyframes toRight
{
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}

@-webkit-keyframes toRight
{
  from {
    left: -250px;
  }
  to {
    left: 0px;
  }
}

/*
向左
 */
@keyframes toLeft
{
  from {
    left: 0;
  }
  to {
    left: -250px;
  }
}

@-webkit-keyframes toLeft
{
  from {
    left: 0;
  }
  to {
    left: -250px;
  }
}
